**/*.user
/.native
Aardvark.log
.ionide
src/**/*.o
src/**/*.so
bin/Release
bin/Debug
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/bin/Aardvark.Fake.dll
/src/*.opensdf
/src/*.sdf
**/*.vcxproj.user
/.fake
/paket-files/
.paket/paket.exe
/src/*.opendb
/src/*.db
/.paket/paket.exe
*.iobj
*.ipdb
*.TMP
Debug
Release
System.ValueTuple.4.3.0
UpgradeLog.htm
/.paket/*.targets
/.paket
/.fake
.DS_Store
/.vcpkg
/src/CeresNative/build/
.idea/
